.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

 @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    	font-size: 3.5rem;
        }
      }
.coverm {
	background-image: url("../img/photo1712726834(1).jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.logo001{
	height: 2em!important;
}
.block{
	background-color: #414042b8;
}

/*#topLine {
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	background:#6c7174!important;
}

.photo {
	width: 100%;
}*/

body {
	min-height: 100%;
}
#logorem{
	width: 100%;
}

@media (min-width: 768px) {
  	#logorem{
		width: 100%;
		margin: 0 auto;
	}
}

.png1{
	width: 40%;
}

.photo6{
	width: 100%;
	margin: 0 auto;

}

@media (min-width: 768px) {
  	.photo6{
		width: 100%;
		margin: 0 auto;
	}
}

.img-center{
	display: flex;
   align-items: center;
   justify-content: center
}

.icons-lable {
	min-height: 5em;
}